/*====univeral selector====*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body{
     font-family: 'Amatic SC', cursive;
     line-height: 1.5;
 }
 .title-text{
     font-size: 40px;
     text-align: center;
 }
 /*====nav bar====*/
 .navbar-brand{
    color: yellowgreen;
    font-weight: bold;
    font-size: 35px !important;
}
.nav-item{
    width: 50%;
    text-align: right;
}
.nav-item a{
    color:white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
/*====end of nav bar====*/
 /*====navbar====*/
 #menu-bar{
     width: 50px;
     height: 10px;
     margin: 50px 10px 10px 20px;
     position: fixed;
     cursor: pointer;
     z-index: 1;
 }
 .bar{
     background: lightgreen;
     border-radius: 10%;
     transition: .4s;
 }
 #bar1{
     width: 40px;
     height: 10px;
     transform: translateY(-4px);
 }
 #bar2{
    width: 40px;
    height: 10px;
}
#bar3{
    width: 40px;
    height: 10px;
    transform: translateY(4px);
}
.change .bar{
    background: #fff;
}
.change#bar1{
    transform: translateY(6px);
    rotate: z(45deg);
}
.change#bar3{
    transform: translateY(-15px);
    rotate: z(-45deg);
}
.change#bar2{
    opacity: 0;
}
.nav li a{
    text-decoration: none;
    color: lightgreen;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav li:hover{
    color: white;
    background: limegreen;
    padding: 10px;
}
.nav li{
    margin: 20px 10px 10px 20px;
    padding-top: 10px;
    list-style-type: none;
}
.nav{
    display: none;
}
.change-btn{
    display: block;
}



 /*====end of navbar====*/
 /*====header====*/
 .header{
     min-height: 100vh;
     background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('img/Slogo.jpg') center/cover no-repeat fixed; 
     margin-top: auto;
 }
 .shop{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     background-attachment: fixed;
     width: 100%;
     height: 100%;
 }
 .shop .title{
     color: snow;
     font-size: 50px;
 }
 .shop-button{
     display: inline-block;
     text-decoration: none;
     text-transform: uppercase;
     padding: 13px 20px;
 
     border-radius: 200px;
     font-weight: bold;
     background: yellowgreen;
     color: papayawhip;
     cursor: pointer;
     border: 2px solid yellowgreen;
     margin-top: 10px;
 }
 .shop-button:hover{
     background: papayawhip;
     color: yellowgreen;
     border: none;
 }
 .pulsate{
     animation: pulsate 3s ease-in-out;
     animation-iteration-count: infinite;
     opacity: .3;
     color: papayawhip;
 }
 @keyframes pulsate{
     0%{
         opacity: .3;
     }
     50%{
         opacity: 1;
     }
     100%{
         opacity: .3;
     }
 }
 /*====end of header====*/
 /*====about us====*/
 #about{
     padding: 40px;
 }
 .about{
     margin: 30px 0;
     display: flex;
 }
 .about-icon .fas{
     font-size: 25px;
     color:yellowgreen;
     margin-right: 20px;
 }
 .about-subtitle{
     text-transform: capitalize;
     color: yellowgreen;
     font-size: 25px;
 }
 .about-info{
     margin-top: 10px;
     line-height: 1.5;
 }
 .about-icon:hover .fas,
 .about-subtitle:hover{
     transition: transform 2s ease, color 2s ease;
     transform: translateY(-10px);
     color: greenyellow;
     cursor: pointer;
 }
 @media screen and (min-width: 576px){
     .about-center{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     .about{
         flex: 0 0 calc(50% - 16px);
     }
 }
 @media screen and (min-width: 972px){
     .about{
         flex: 0 0 calc(33.3% - 16px)
     }
 }
 /*====end of about us====*/
 /*====menu====*/
 .menu-image{
     min-height: 80vh;
     background: url('img/Smenu.jpg') center/cover fixed no-repeat;
 }
 .menu-text{
     min-height: 80vh;
     align-items:center;
     background: greenyellow;
     columns: black;
     padding: 40px 0;
 }
 .menu-text-center{
     width: 90%;
     margin: 0 auto;
 }
 .menu-text h1{
     font-size: 40px;
     text-transform: uppercase;
     margin-bottom: 10px;
 }
 .menu-text p{
     margin: 20px 0;
     line-height: 2;
 }
 .menu-text a{
     display: inline-block;
     text-decoration: none;
     text-transform: uppercase;
     padding: 13px 20px;
     border-radius: 200px;
     font-weight: bold;
     background: rgb(10,10,10);
     color: greenyellow;
     cursor:pointer;
     border: 2px solid #000;
 }
 .menu-text a:hover{
     color: greenyellow;
     background: floralwhite;
     border:none;
 }
 @media screen and (min-width: 776px){
     .menu{
         display: flex;
     }
     .menu-text{
         flex: 0 0 15%;
     }
     .menu-image{
         flex: 0 0 85%;
         clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
     }
     .menu{
         background: greenyellow;
     }
 }
 /*====end of menu====*/
 /*====social icons====*/
 #social-icons{
     height: 150px;
     background: white;
     text-align: center;
     padding: 50px 0 50px 0;
 }
 #social-icons a{
     display: inline-block;
     padding: 5px 10px;
     margin: 0 5px;
     font-size: 40px;
     border-radius: 5px;
     transition: transform 2s ease, color 2s ease;
 }
 #social-icons a:hover{
     transform: translateY(-20px);
 }
 .facebook{
     color: #3b5998;
 }
 .twitter{
     color:#38a1f3;
 }
 .instagram{
     color: #e1306c;
 }
 /*====end of socail icons====*/
 /*====numbers====*/
 .number{
     text-align: center;
     background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(img/bs.jpg) center/cover no-repeat fixed;
     padding: 60px 0;
     color:#fff;
 }
 .number p{
     font-size: 30px;
     font-weight: bold;
 }
 .number:hover{
     color: yellowgreen;
 }
 .number .fas{
     font-size: 30px;
     margin: 20px 0;
 }
 .number h3{
     text-transform: uppercase;
 }
 @media screen and (min-width:576px){
     #numbers{
         display: grid;
         grid-template-columns: 1fr 1fr;
     }  
 }
 @media screen and (min-width: 992px){
     #numbers{
         grid-template-columns: repeat(4, 1fr);
     }
 }
 /*====end of numbers====*/
 /*====cards====*/
 #drink{
     padding:20px;
 }
 .drink-container{
     max-width: 90vw;
     margin: 0 auto;
 }
 .drink-card{
     position: relative;
     background: linear-gradient(rgb(155, 207, 99),rgb(139, 192, 82));
     margin:20px 0;
     color:#000;
     overflow: hidden;
     padding: 3px;
     border-radius: 16px;
     border: 1px solid green;
     box-shadow: 2px 3px 1px 1px greenyellow; 
 } 
 #drink img{
     width: 100%;
     min-height: 100%;
     display: block;
     transition: transform 4s;
 }
 .img-text{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     opacity: 0;
     transition: opacity 4s;
 }
 .img-footer{
     display: flex;
     justify-content: space-between;
     width: 100%;
     position: absolute;
     left: 0;
     bottom: 0;
     padding: 10px;
     font-size: 20px;
     opacity: 0;
     color: #000;
     transition: opacity 4s;
 }
 .img-text h1{
     font-size: 30px;
     margin-bottom: 10px;
 }
 .drink-card:hover img{
     opacity: 0.4;
     transform: scale(1.3);
 }
 .drink-card:hover .img-text,
 .drink-card:hover .img-footer{
     opacity: 1;
 }
 .drink-btn{
     display: inline-block;
     background: #000;
     text-decoration: none;
     text-transform: capitalize;
     padding: 12px 32px;
     color: #fff;
     font-weight: bold;
     border-radius: 180px;
     cursor: pointer;
     margin-top: 16px;
     transition: all 0.3s ease-in-out;
     font-size: 18px;
     outline: none;
 }
 .drink-btn:hover{
     color: yellowgreen;
     background: #fff;
     border: #000;
     outline: none;
 }
 .fas{
     font-size: 30px;
 }
 @media screen and (min-width:576px){
     .drink-container{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-column-gap: 16px;
     }
 }
 @media screen and (min-width:992px){
    .drink-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
    }
}
/*====end of cards====*/
/*====gallery====*/
#gallery{
    padding: 40px;
    background: #fff;
}
.gallery-item{
    background: linear-gradient(rgb(155, 207, 99),rgb(139, 192, 82));
}
.gallery-item img{
    display: block;
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease;
} 
.gallery-item img:hover{
    opacity: 0.5;
}
@media screen and (min-width:576px){
    #gallery-center{
        display: grid;
        grid-template-columns: 1 1fr;
    }
}
@media screen and (min-width:992px){
    #gallery-center{
        grid-template-columns: repeat(4, 1fr);
    }

}
/*====end of gallery====*/
/*====footer====*/
.footer{
    background: rgb(58, 55, 55);
    text-align: center;
}
.footer .text{
    text-transform: uppercase;
    color:#fff;
    font-size: 24px;
    margin-top: 20px;
}
/*====end of footer====*/

/*====admin_page.php====*/
.input-field div.error{
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color:#FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  .input-field label.active{
      width:100%;
  }
  .left-alert input[type=text] + label:after, 
  .left-alert input[type=password] + label:after, 
  .left-alert input[type=email] + label:after, 
  .left-alert input[type=url] + label:after, 
  .left-alert input[type=time] + label:after,
  .left-alert input[type=date] + label:after, 
  .left-alert input[type=datetime-local] + label:after, 
  .left-alert input[type=tel] + label:after, 
  .left-alert input[type=number] + label:after, 
  .left-alert input[type=search] + label:after, 
  .left-alert textarea.materialize-textarea + label:after{
      left:0px;
  }
  .right-alert input[type=text] + label:after, 
  .right-alert input[type=password] + label:after, 
  .right-alert input[type=email] + label:after, 
  .right-alert input[type=url] + label:after, 
  .right-alert input[type=time] + label:after,
  .right-alert input[type=date] + label:after, 
  .right-alert input[type=datetime-local] + label:after, 
  .right-alert input[type=tel] + label:after, 
  .right-alert input[type=number] + label:after, 
  .right-alert input[type=search] + label:after, 
  .right-alert textarea.materialize-textarea + label:after{
      right:70px;
  }
/*====end of admin_page.php====*/
 